.super {
  background-color:black;
  padding:6rem 4rem;
  display:flex;
  flex-direction: row;
  background: linear-gradient(0deg, rgba(0,0,0,0.80) 0%, rgba(0,0,0,0.8) 100%), url("/images/header.jpg");
  background-size:cover;
}
.superMobile {
  flex-direction: column-reverse;
  padding:6rem 0.5rem;
}
.superHeading {
  font-size: 2.8rem;
  color:white;
}
.superSection {
  padding:2rem;
}
.superImage {
  width:35rem;
}
.superImageMobile {
  width:25rem;
}