@import url('https://fonts.googleapis.com/css2?family=Inter&family=Manrope:wght@400;700&display=swap');

/* font-family: 'Inter', sans-serif;
font-family: 'Manrope', sans-serif; */

body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}
:root {
  --theme-primary: #2851e3;
  --theme-text-gray: #666666;
  --layout-max-width: 70rem;
}
.heading {
  font-family: 'Manrope', sans-serif;
  font-weight:700;
}
.section {
  padding:2rem 2rem;
}
.h2 {
  font-size: 2.5rem;
}
.h3 {
  font-size: 2rem;
  border-right:5px solid var(--theme-primary);
  padding:1rem 1rem;
}
.center {
  text-align: center;
}
.flex-center {
  align-items: center;
}
.flex-col-3 {
  flex-basis: 33%;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.text-grey {
  color: var(--theme-text-gray);
  font-size:1.25rem;
}
.text-white {
  color: white;
  font-size:1.25rem;
}
.hidden {
  display:none;
}